<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/Amazing/Media2click/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{settings.m2cEnable2click}">
        <f:then>
            <f:alias map="{iframeHost: m2cHostsData.0.data.host}">
            <m:hostdata hostsData="{m2cHostsData}" host="{iframeHost}"/>
            <f:variable name="bgStyle"><f:if condition="{m2cBackgroundImage.0}">background-image:url(<f:uri.image image="{m2cBackgroundImage.0}"/>)</f:if></f:variable>
            <div class="media2click-wrap media2click-ratio media2click-ratio-{data.tx_media2click_iframe_ratio}">
                <div class="media2click-placeholder media2click-placeholder-content{f:if(condition: m2cBackgroundImage.0, then: ' media2click-haspreview')}"
                     style="{bgStyle}" data-host="{iframeHost}">
                    <f:render partial="Media2click/Placeholder/{iframeHost}" optional="true" arguments="{_all}">
                        <div class="media2click-placeholder-inner">
                            <f:render partial="Media2click/Placeholder/Default" arguments="{_all}"/>
                        </div>
                    </f:render>
                    <f:render partial="Media2click/Controls/Default" arguments="{_all}"/>
                </div>
                <script type="application/json" class="media2click-contentdata">
                    {f:format.json(value: {content: content, attributes: {title: '{f:if(condition: \'{hostData.title}\', then: \'{f:translate(key: \\\'externalContent\\\', extensionName: \\\'Media2click\\\')}: {hostData.title}\', else: \'{f:translate(key: \\\'externalContentFrom\\\', extensionName: \\\'Media2click\\\')} {iframeHost}\' )}'}}, forceObject: true) -> f:format.raw()}
                </script>
            </div>
            </f:alias>
        </f:then>
        <f:else>
            {content -> f:format.raw()}
        </f:else>
    </f:if>
</f:section>

</html>
