<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/Amazing/Media2click/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">
    <f:variable name="iframeHost"><m:uri.part uri="{data.tx_media2click_iframe_src}"/></f:variable>
    <f:if condition="{settings.enable2click}">
        <f:then>
            <m:hostdata hostsData="{hostsData}" host="{iframeHost}"/>
            <f:variable name="bgStyle"><f:if condition="{backgroundImage.0}">background-image:url(<f:uri.image image="{backgroundImage.0}"/>)</f:if></f:variable>
            <div class="media2click-wrap media2click-ratio media2click-ratio-{data.tx_media2click_iframe_ratio}">
                <button class="media2click-placeholder media2click-placeholder-iframe{f:if(condition: backgroundImage.0, then: ' media2click-haspreview')}"
                    style="{bgStyle}" data-host="{iframeHost}">
                    <f:render partial="Media2click/Placeholder/{iframeHost}" optional="true" arguments="{_all}">
                        <div class="media2click-placeholder-inner">
                            <f:render partial="Media2click/Placeholder/Default" arguments="{_all}"/>
                        </div>
                    </f:render>
                </button>
                <iframe class="media2click-iframe" src="" data-src="{data.tx_media2click_iframe_src}" title="{f:if(condition: '{hostData.title}', then: '{f:translate(key: \'externalContent\', extensionName: \'Media2click\')}: {hostData.title}', else: '{f:translate(key: \'externalContentFrom\', extensionName: \'Media2click\')} {iframeHost}')}"></iframe>
            </div>
        </f:then>
        <f:else>
            <div class="media2click-ratio media2click-ratio-{data.tx_media2click_iframe_ratio}">
                <iframe src="{data.tx_media2click_iframe_src}" title="{f:translate(key: 'externalContentFrom', extensionName: 'Media2click')} {iframeHost}"></iframe>
            </div>
        </f:else>
    </f:if>
</f:section>

</html>
