<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<ul class="media2click-hosts">
    <f:for each="{hosts}" as="host" iteration="iterator">
        <li>
            <div class="media2click-toggle-wrap"><input type="checkbox" id="m2c-host-{host.uid}" class="media2click-toggle" data-host="{host.host}"></div>
            <label for="m2c-host-{host.uid}" class="media2click-toggle-label">
                <f:if condition="{host.logo.0}">
                    <span class="media2click-toggle-logo">
                        <f:image image="{host.logo.0}" alt="{host.title}"/>
                    </span>
                </f:if>
                <span class="media2click-toggle-text">
                    <f:translate key="toggleLabel" extensionName="Media2click" arguments="{0: host.title}"/>
                    <span class="media2click-privacylink"><f:link.typolink parameter="{host.privacyStatementLink}" target="_blank"><f:translate key="privacyLink" extensionName="Media2click" arguments="{0: host.title}"/></f:link.typolink></span>
                </span>
            </label>
        </li>
    </f:for>
</ul>
</html>
