<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="media2click-placeholder{f:if(condition: settings.previewImage, then: ' media2click-haspreview')}" style="{f:if(condition: settings.width, then: 'width:{settings.width}px;')}{f:if(condition: settings.height, then: 'height:{settings.height}px;')}{f:if(condition: settings.previewImage, then: 'background-image:url(/{settings.previewImage});')}">
    <f:render section="Main" arguments="{_all}"/>
</div>
</html>
