.media2click-ratio {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: relative;

    .media2click-placeholder-iframe,
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }


    &.media2click-ratio-169 {
        padding-bottom: 56.25%;
    }

    &.media2click-ratio-32 {
        padding-bottom: 66.67%;
    }

    &.media2click-ratio-43 {
        padding-bottom: 75%;
    }

    &.media2click-ratio-50vh {
        padding-bottom: 50vh;
    }

    &.media2click-ratio-75vh {
        padding-bottom: 75vh;
    }

    &.media2click-ratio-90vh {
        padding-bottom: 90vh;
    }
}

.media2click-placeholder {
    position: relative;
    background-color: #ddd;
    border: 0;
    box-sizing: border-box;
    padding: .5em;
    font-size: 1em;
    text-align: center;
    transition: background-color .2s;

    &:hover,
    &:focus {
        background-color: #eee;

        .media2click-button {
            background-color: #666;
        }
    }

    &.media2click-haspreview {
        color: #000;
        text-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff;
    }
}

.media2click-placeholder-video {
    background-image: url(../Images/placeholder.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.media2click-placeholder-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: .5em;
    overflow-y: auto;

    background-color: rgba(255, 255, 255, .5);
    .media2click-placeholder.media2click-haspreview:hover &,
    .media2click-placeholder.media2click-haspreview:focus-within & {
        background-color: rgba(255, 255, 255, .85);
    }

    .media2click-placeholder-video.media2click-haspreview & {
        background-image: url(../Images/videobutton.png);
        background-size: 30% auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .media2click-placeholder-video.media2click-haspreview:hover &,
    .media2click-placeholder-video.media2click-haspreview:focus-within & {
        background-image: none;
    }
}

.media2click-placeholder-iframe.media2click-haspreview {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.media2click-placeholder-logo {
    display: block;
    max-width: 30%;
    height: auto;
    float: right;
    margin: 0 0 .25em .5em;
}

.media2click-title {
    font-weight: bold;
    margin-bottom: .5em;
}

.media2click-content {
    > *:last-child {
        margin-bottom: 2.57em;
    }
}

.media2click-iframedata {
    display: none;
}

.media2click-controls {
    display: block;
    position: absolute;
    bottom: .75em;
    right: .75em;

    .media2click-button {
        display: inline-block;
        background-color: #999;
        color: #fff;
        text-decoration: none;
        text-shadow: none;
        padding: .25em .5em;
        border-radius: .25em;
        margin: .25em;

        &:hover,
        &:focus {
            background-color: #333;
        }
    }
}

.media2click-hosts {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }

        display: grid;
        grid-template-columns: 2em 1fr;
        grid-column-gap: .5em;

        .media2click-toggle-wrap {
            .media2click-toggle {
                &.activated {
                }
            }
        }

        .media2click-toggle-label {
            display: grid;
            grid-template-columns: 10em 1fr;
            column-gap: 1em;

            .media2click-toggle-logo {
                display: block;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            .media2click-toggle-text {
                display: block;

                &:first-child {
                    grid-column: 1/3;
                }
            }
        }

        .media2click-privacylink {
            display: block;
        }
    }
}
