<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{hostData.logoImage.0}">
    <f:image image="{hostData.logoImage.0}" alt="{hostData.title}" class="media2click-placeholder-logo"/>
</f:if>
<f:if condition="{hostData.placeholder}">
    <f:then>
        <span class="media2click-content">{hostData.placeholder -> f:format.html()}</span>
    </f:then>
    <f:else>
        <span class="media2click-content">
            {f:translate(extensionName: 'Media2click', key: 'defaultPlaceHolderIframe', arguments: {0: '{iframeHost}'})}
            <f:if condition="{settings.privacyPid}">
                <br><f:link.page pageUid="{settings.privacyPid}">{f:translate(extensionName: 'Media2click', key: 'moreInfo', default: 'More Info')}</f:link.page>
            </f:if>
        </span>
    </f:else>
</f:if>
<f:if condition="{settings.enablePermanently}">
    <f:if condition="{hostData.allow_permanent}">
        <a class="media2click-button" data-host="{iframeHost}" href="#">
            <f:translate key="activatePermanently" extensionName="Media2click" default="Activate permanently"/>
        </a>
    </f:if>
</f:if>
</html>
