<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{hostData.logoImage.0}">
    <f:image image="{hostData.logoImage.0}" alt="{hostData.title}" class="media2click-placeholder-logo"/>
</f:if>
<f:if condition="{hostData.placeholder}">
    <f:then>
        <div class="media2click-content">{hostData.placeholder -> f:format.html()}</div>
    </f:then>
    <f:else>
        <div class="media2click-content">
            {f:translate(extensionName: 'Media2click', key: 'defaultPlaceHolderIframe', arguments: {0: '{iframeHost}'})}
            <f:if condition="{settings.privacyPid}">
                <br><f:link.page pageUid="{settings.privacyPid}">{f:translate(extensionName: 'Media2click', key: 'moreInfo', default: 'More Info')}</f:link.page>
            </f:if>
        </div>
    </f:else>
</f:if>
<div class="media2click-controls">
    <a class="media2click-button media2click-once" href="#">
        <f:translate key="activateOnce" extensionName="Media2click" default="Activate once"/>
    </a>
    <f:if condition="{settings.enablePermanently}">
        <f:if condition="{hostData.allow_permanent}">
            <a class="media2click-button media2click-permanent" data-host="{iframeHost}" data-cookielifetime="{settings.cookieLifetime}" href="#">
                <f:translate key="activatePermanently" extensionName="Media2click" default="Activate permanently"/>
            </a>
        </f:if>
    </f:if>
</div>
</html>
