<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/Amazing/Media2click/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">
    <m:hostdata hostsData="{hostsData}" host="{settings.videoProvider}"/>
    <div class="media2click-placeholder-inner">
        <f:if condition="{hostData.logoImage.0}">
            <f:image image="{hostData.logoImage.0}" alt="{hostData.title}" class="media2click-placeholder-logo"/>
        </f:if>
        <f:if condition="{settings.showTitle}">
            <span class="media2click-title">{settings.title}</span>
        </f:if>
        <f:if condition="{hostData.placeholder}">
            <f:then>
                <span class="media2click-content">{hostData.placeholder -> f:format.html()}</span>
            </f:then>
            <f:else>
                <span class="media2click-content">
                    {f:translate(extensionName: 'Media2click', key: 'defaultPlaceHolderVideo', default: 'Click to load external video!')}
                    <f:if condition="{settings.privacyPid}">
                        <br><f:link.page pageUid="{settings.privacyPid}">{f:translate(extensionName: 'Media2click', key: 'moreInfo', default: 'More Info')}</f:link.page>
                    </f:if>
                </span>
            </f:else>
        </f:if>
        <f:if condition="{settings.enablePermanently}">
            <f:if condition="{hostData.allow_permanent}">
                <a class="media2click-button" data-host="{settings.videoProvider}" data-cookielifetime="{settings.cookieLifetime}" href="#"><f:translate key="activatePermanently" extensionName="Media2click" default="Activate permanently"/></a>
            </f:if>
        </f:if>
    </div>
</f:section>

</html>
